<div>
  <sidebar-item-section name="Apps">
    <sidebar-item title="All apps" routerLink="/">
      <apps-icon></apps-icon>
    </sidebar-item>
    <sidebar-item title="Updates" routerLink="/admin/updates">
      <updates-icon></updates-icon>
    </sidebar-item>
  </sidebar-item-section>

  <sidebar-item-section name="Categories">
    <sidebar-item title="Users List" routerLink="/admin/user-admin">
      <photography-icon></photography-icon>
    </sidebar-item>
    <sidebar-item title="Admin Register" routerLink="/admin/register-admin">
      <photography-icon></photography-icon>
    </sidebar-item>
    <sidebar-item title="course" routerLink="/admin/courses">
      <photography-icon></photography-icon>
    </sidebar-item>
    <sidebar-item title="Events" routerLink="/admin/event">
      <graphic-design-icon></graphic-design-icon>
    </sidebar-item>

    <sidebar-item title="complaint" routerLink="/admin/complaint">
      <doc-icon></doc-icon>
    </sidebar-item>
    <sidebar-item title="statistic" routerLink="/admin/stat">
      <doc-icon></doc-icon>
    </sidebar-item>

    <sidebar-item title="view" routerLink="/admin/view">
      <doc-icon></doc-icon>
    </sidebar-item>

    <sidebar-item title="Bank Account" routerLink="/admin/listcomptebancaire">
      <doc-icon></doc-icon>
    </sidebar-item>

    <sidebar-item
      title="statistic of reservations"
      routerLink="admin/calendrierReservation"
    >
      <doc-icon></doc-icon>
    </sidebar-item>
  </sidebar-item-section>

  <sidebar-item-section name="Guides">
    <sidebar-item title="Documentation" routerLink="/admin/documentation">
      <doc-icon></doc-icon>
    </sidebar-item>
  </sidebar-item-section>
</div>
